/* General CSS */

/* imports Inter Semi-Bold, Medium, Regular, and Light */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');


/* General body styling */
body {
    font-family: Arial, sans-serif, 'Inter';
    background-color: #F9F8F8;
  }
  
  /* Navbar styling */
  .navbar {

    height: 66px;
    line-height: 60px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 20px 30px rgba(0, 0, 0, 0.05); /* X Y Blur Spread Color(x,x,x, opacity)*/

  }
  
  /* Table spacing */
  .table {
    margin-top: 20px;
  }
  
  /* Badge styling for consistent look */
  .badge {
    font-size: 1em;
  }
  
  /* Card styling for uniform appearance */
  .card {
    background-color:#FFFFFF;
    border: #FFFFFF solid;
    border-radius: 15px;
    box-shadow: 0 0 15px 8px rgba(0, 0, 0, 0.05);
  }
  
  /* Button group styling */
  .btn-group .btn {
    margin-right: 5px;
  }
  
  /* Table row hover effect */
  .table-striped tbody tr:hover {
    background-color: #f8f9fa;
  }
  
  /* Custom container padding */
  .container {
    padding: 20px;
    max-width: 100%; /* Prevents content from overflowing beyond the parent */
    overflow-x: auto; /* Allows horizontal scrolling if content overflows */
  }
  
  /* Ensuring chart canvas responsiveness */
  canvas {
    display: block;
    width: 100%;
    height: auto;
  }


/******* SCROLL BAR & TRACK CSS *******/

.custom-scroll::-webkit-scrollbar {
  width: 6px; 
}  /* Actual Scrollbar */


.custom-scroll::-webkit-scrollbar-track {
  background: #F9F8F8;
  border-radius: 6px;
}/* Scrollbar track */


.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
  border-radius: 6px;
}/* Scrollbar handle */


.custom-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #BECFEF;
}/* Scrollbar scroller on hover */



/******* CUSTOM BOOTSRAP MARGIN-TOP CSS *******/

.mt-6 {

  margin-top: 60px;

} /* Customer Bootstrap top margin */




/******* CUSTOMER FONT HEADERS CSS *******/

h7 {

  color: #3775F1;
  font-size: 55px;
  font-family: 'Inter';
  font-weight: 600; /* Semi-Bold */
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-left: 30px; /* Shifts text 50px to right */
   
} /* Page Title Text*/

h8 {

  color: white;
  font-size: 30px;
  font-family: 'Inter';
  font-weight: 500; /* Medium */

} /* not Card Header Text */
  
h9 {

  color: Black;
  font-size: 26px;
  font-family: 'Inter';
  font-weight: 600; /* Semi-Bold */

} /* Nav Bar Text*/

h10 {

  color: Black;
  font-size: 24px;
  font-family: 'Inter';
  font-weight: 400; /* Regular */

}/*General Box Text*/

h11 {

  color: Black;
  font-size: 24px;
  font-family: 'Inter';
  font-weight: 500; /* Medium */

}/*General Box Text*/

/**/